In [2]:
import pandas as pd
import numpy as np 
from scipy.stats import chisquare
from src.data_handler import DataHandler

In [2]:
df = pd.DataFrame({'A': ['adbert', 'elbert', 'albert', 'albert', 'albert']})
df2 = pd.DataFrame({'A': ['edbert', 'elbert', 'albert', 'albert', 'albert'],
                    'B': ['edbert', 'elbert', 'albert', 'albert', 'albert']})

In [3]:
# list(df['A'].unique())

s = df2['A']
# s.groupby(s).size().values
s

0    edbert
1    elbert
2    albert
3    albert
4    albert
Name: A, dtype: object

In [4]:
test = list(df['A'].unique())
s = s[s.isin(test)]
s
# test

1    elbert
2    albert
3    albert
4    albert
Name: A, dtype: object

In [5]:
def perform_chi_square(column_name: str, f_obs: np.array, 
                       f_exp: np.array) -> tuple[str, float]:

    return column_name, chisquare(f_obs=f_obs, f_exp=f_exp)[1]

In [6]:
f_obs = df.groupby('A').size().values
f_exp = df.groupby('A').size().values
perform_chi_square('A', f_obs, f_exp)

('A', 1.0)

In [7]:
list(df.columns)

['A']

In [8]:
dh = DataHandler(target=df2, source=df)
dh.source

        A
0  adbert
1  elbert
2  albert
3  albert
4  albert

In [9]:
dh.check_columns()
dh.type_df

  column_names column_types
0            A  categorical

In [10]:
dh.target

        A       B
0  edbert  edbert
1  elbert  elbert
2  albert  albert
3  albert  albert
4  albert  albert

In [11]:
dh.coerce_quality()
dh.target

        A
0  edbert
1  elbert
2  albert
3  albert
4  albert

In [12]:
from scipy import stats

In [13]:
rng = np.random.default_rng()
x = stats.norm.rvs(size=100, random_state=rng)
y = stats.norm.rvs(size=50, random_state=rng)

In [14]:
stats.kstest(x, y)[1]

0.9960526466794295

In [19]:
dh.type_df[dh.type_df['column_names'] == 'A']['column_types'][0]

'categorical'

In [16]:
ds = dh.type_df[dh.type_df['column_names']=='A']

In [36]:
dh.type_df.loc[(dh.type_df['column_names']=='A') & (dh.type_df['column_types']=='categorical')] = [['A','numerical']]

In [25]:
dh.type_df[dh.type_df['column_names']=='A']['column_types'].values

array(['categorical'], dtype=object)

In [7]:
for idx, row in dh.type_df.iterrows():
    print(row['column_types'])

categorical

In [2]:
probs = pd.DataFrame({'class_A': [0.2,0.9,0.3],
                      'class_B': [0.8,0.1,0.7]})
probs

   class_A  class_B
0      0.2      0.8
1      0.9      0.1
2      0.3      0.7

In [10]:
for i, row in probs.iterrows():
    top_n = row.sort_values(ascending=False).head(5).to_dict().items()
    print(top_n)
    for pred, proba in top_n:
        print(pred)
        print(proba)

dict_items([('class_B', 0.8), ('class_A', 0.2)])
class_B
0.8
class_A
0.2
dict_items([('class_A', 0.9), ('class_B', 0.1)])
class_A
0.9
class_B
0.1
dict_items([('class_B', 0.7), ('class_A', 0.3)])
class_B
0.7
class_A
0.3

In [20]:
import plotly.graph_objects as go

In [3]:
df = pd.read_csv("/Users/albertwibowo/Downloads/titanic.csv")

In [4]:
df.dtypes

sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
class        object
who          object
alone          bool
survived      int64
dtype: object

In [5]:
df['age'].dtype

dtype('float64')

In [6]:
df['sibsp'].dtype

dtype('int64')

In [7]:
df['alone'].dtype

dtype('bool')

In [8]:
df['who'].dtype

dtype('O')