In [1]:
import pandas as pd
import numpy as np 
from scipy.stats import chisquare
from src.data_handler import DataHandler

In [6]:
df = pd.read_csv('/Users/albertwibowo/Downloads/apple_quality.csv')
df2 = pd.read_csv('/Users/albertwibowo/Downloads/apple_quality.csv')

In [3]:
df.head()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good

In [4]:
df['Size'].nunique()

4000

In [5]:
df = pd.DataFrame({'A': ['adbert', 'elbert', 'albert', 'albert', 'albert']})
df2 = pd.DataFrame({'A': ['edbert', 'elbert', 'albert', 'albert', 'albert'],
                    'B': ['edbert', 'elbert', 'albert', 'albert', 'albert']})

In [7]:
df = df.dropna()
df.shape

(4000, 9)

In [17]:
df['Acidity'] = df['Acidity'].astype('float')
df['A_id'] = df['A_id'].astype(str)

In [18]:
df.dtypes

A_id            object
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity        float64
Quality         object
dtype: object

In [19]:
df.dtypes

A_id            object
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity        float64
Quality         object
dtype: object

In [20]:
df.to_csv('apple_quality_cleaned.csv', index=False)

In [21]:
dfnew = pd.read_csv('apple_quality_cleaned.csv')
dfnew.dtypes

A_id           float64
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity        float64
Quality         object
dtype: object

In [3]:
# list(df['A'].unique())

s = df2['A']
# s.groupby(s).size().values
s

0    edbert
1    elbert
2    albert
3    albert
4    albert
Name: A, dtype: object

In [4]:
test = list(df['A'].unique())
s = s[s.isin(test)]
s
# test

1    elbert
2    albert
3    albert
4    albert
Name: A, dtype: object

In [5]:
def perform_chi_square(column_name: str, f_obs: np.array, 
                       f_exp: np.array) -> tuple[str, float]:

    return column_name, chisquare(f_obs=f_obs, f_exp=f_exp)[1]

In [6]:
f_obs = df.groupby('A').size().values
f_exp = df.groupby('A').size().values
perform_chi_square('A', f_obs, f_exp)

('A', 1.0)

In [7]:
list(df.columns)

['A']

In [20]:
df['A_id'].nunique()

4000

In [21]:
df['A_id'].nunique() == df.shape[0]

True

In [7]:
dh = DataHandler(target=df2, reference=df)

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good
...,...,...,...,...,...,...,...,...,...
3996,3996.0,-0.293118,1.949253,-0.204020,-0.640196,0.024523,-1.087900,1.854235285,good
3997,3997.0,-2.634515,-2.138247,-2.440461,0.657223,2.199709,4.763859,-1.334611391,bad
3998,3998.0,-4.008004,-1.779337,2.366397,-0.200329,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,-1.154075,1.266677,-0.776571,1.599796456,good
4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Created_by_Nidula_Elgiriyewithana,NaN

In [8]:
dh.check_columns()
dh.type_df

  column_names column_types
0         A_id    numerical
1         Size    numerical
2       Weight    numerical
3    Sweetness    numerical
4  Crunchiness    numerical
5    Juiciness    numerical
6     Ripeness    numerical
7      Acidity  categorical
8      Quality  categorical

In [9]:
df.dtypes

A_id           float64
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity         object
Quality         object
dtype: object

In [10]:
dh.target

        A       B
0  edbert  edbert
1  elbert  elbert
2  albert  albert
3  albert  albert
4  albert  albert

In [11]:
dh.coerce_quality()
dh.target

        A
0  edbert
1  elbert
2  albert
3  albert
4  albert

In [12]:
from scipy import stats

In [13]:
rng = np.random.default_rng()
x = stats.norm.rvs(size=100, random_state=rng)
y = stats.norm.rvs(size=50, random_state=rng)

In [14]:
stats.kstest(x, y)[1]

0.9960526466794295

In [19]:
dh.type_df[dh.type_df['column_names'] == 'A']['column_types'][0]

'categorical'

In [16]:
ds = dh.type_df[dh.type_df['column_names']=='A']

In [36]:
dh.type_df.loc[(dh.type_df['column_names']=='A') & (dh.type_df['column_types']=='categorical')] = [['A','numerical']]

In [25]:
dh.type_df[dh.type_df['column_names']=='A']['column_types'].values

array(['categorical'], dtype=object)

In [7]:
for idx, row in dh.type_df.iterrows():
    print(row['column_types'])

categorical

In [2]:
probs = pd.DataFrame({'class_A': [0.2,0.9,0.3],
                      'class_B': [0.8,0.1,0.7]})
probs

   class_A  class_B
0      0.2      0.8
1      0.9      0.1
2      0.3      0.7

In [10]:
for i, row in probs.iterrows():
    top_n = row.sort_values(ascending=False).head(5).to_dict().items()
    print(top_n)
    for pred, proba in top_n:
        print(pred)
        print(proba)

dict_items([('class_B', 0.8), ('class_A', 0.2)])
class_B
0.8
class_A
0.2
dict_items([('class_A', 0.9), ('class_B', 0.1)])
class_A
0.9
class_B
0.1
dict_items([('class_B', 0.7), ('class_A', 0.3)])
class_B
0.7
class_A
0.3

In [20]:
import plotly.graph_objects as go

In [3]:
df = pd.read_csv("/Users/albertwibowo/Downloads/titanic.csv")

In [4]:
df.dtypes

sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
class        object
who          object
alone          bool
survived      int64
dtype: object

In [5]:
df['age'].dtype

dtype('float64')

In [6]:
df['sibsp'].dtype

dtype('int64')

In [7]:
df['alone'].dtype

dtype('bool')

In [8]:
df['who'].dtype

dtype('O')